$space: 10px;

$col-12: calc(100% - (2 * $space));
$col-8: calc(66.65% - (2 * $space));
$col-6: calc(50% - (2 * $space));
$col-4: calc(33.32% - (2 * $space));
$col-3: calc(25% - (2 * $space));
$col-2: calc(16.65% - (2 * $space));